---
import '../../app/globals.css'
import Contacts from '../components/_Sections/Contacts.astro'
import Layout from "../layouts/Layout.astro";
import About from "../components/_Sections/About.astro";
import { Experiences } from "../components/_Sections/Experiences";
import Formations from '../components/_Sections/Formations.astro'
import Projects from '../components/_Sections/Projects.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <About />
    <Experiences client:load/>
    <Formations />
    <Contacts />
    <Projects />
  </main>
</Layout>

<style>
  main {
    max-width: 62rem;
    margin: auto;
    padding-top: 4rem;
  }

  @media (max-width: 768px) {
    main {
     padding-top: 2rem;
    }
  }

  @media (max-width: 500px) {
    main {
     padding-top: 0;
    }
  }
</style>
