---
import { Icon } from 'astro-icon/components'
import filePath from '../../assets/cv.pdf'
import Tooltip from '@/components/ui/tooltip'
console.log(Tooltip)
---

<section>
  <div class="image">
    <img src="/assets/perfil.jpeg" alt="imagem de perfil" />
  </div>
  <div class="content">
    <header class="header">
      <div>
       <h1>Vinicius Aguiar Silva</h1>
       <span>Dev full-stack</span>
      </div>
      <div class="actions">
        <Tooltip content='Baixar currículo'>
          <a href={filePath} download >
            <Icon name='mdi:download'/>
          </a> 
        </Tooltip>
        <a href="https://github.com/vinicius377" target="_blank">
          <Icon name='mdi:github' />
        </a>
      </div>
    </header>
    <p>
      Já trabalhei como desenvolvedor full-stack há 1 ano e 10 meses com foco no desenvolvimento web,
      em uma startup de hortifrúti. Sou técnico em informática e formado em análise e desenvolvimento
      de sistemas, desde 2023. Estou em busca de novas oportunidades para crescer profissionalmente e
      construir uma carreira sólida na empresa. </br></br>
      Acredito que o papel do desenvolvedor é atacar o problema da forma mais eficiente, e com a
      melhor tecnologia, a adaptabilidade conforme algum problema é que o torna um bom
      desenvolvedor. Estou disposto a aprender novas tecnologias conforme as necessidades do cargo.
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    gap: 2rem;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
  }

  [data-icon] {
    font-size: 2rem;
    transition: 400ms;
    cursor: pointer;
  }

  [data-icon]:hover {
    transform: scale(1.15)
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .content {
    flex: 1;
  }

  .content h1 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 700;
  }

  .content span {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .content p {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1.5rem;
    line-height: 19px;
  }

  .image {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    border: solid 0.25rem #44475a;
    overflow: hidden;
  }

  .image img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    section {
      flex-direction: column;
      align-items: center;
    }

    .image {
      width:15rem;
      height: 15rem
    }

    .image img {
      width: 15rem;
      height: 15rem;
    }
  }

  @media (max-width: 500px) {
    section {
      gap: 1rem;
    }

    .image {
      width:12rem;
      height: 12rem
    }

    .image img {
      width: 12rem;
      height: 12rem;
    }

    .content h1 {
      font-size: 1.5rem;
    } 

    .content span {
      font-size: 1.25rem
    }

    .content p {
      font-size: 0.875rem;
        margin-top: 0.75rem;
    }
  }
</style>
