<section>
  <div class="image">
      <img src="/assets/perfil.jpeg" alt="imagem de perfil" />
  </div>
  <div class="content">
    <h1>Vinicius Aguiar Silva</h1>
    <span>Dev full-stack</span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis
      tempor ex, at faucibus mauris. Nam luctus urna turpis, sed maximus velit
      mattis sit amet. Vivamus malesuada sollicitudin suscipit. Etiam diam eros,
      pharetra eu suscipit pretium, auctor non turpis. Ut eget ornare massa, vel
      mattis lorem. Cras aliquet efficitur ligula, a dignissim metus fermentum
      vel. Fusce vehicula mattis leo sit amet tempus. Proin commodo, nunc eget
      hendrerit bibendum, libero erat semper risus, quis rhoncus felis magna
      quis nisi. Vivamus id purus ac magna hendrerit sagittis sed in mauris.
      Donec vel bibendum urna. Suspendisse potenti.
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    gap: 2rem;
  }

  .content {
    flex: 1;
  }

  .content h1 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 700;
  }

  .content span {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .content p {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1.5rem;
    line-height: 19px;
  }

  .image {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    border: solid 0.25rem #44475a;
    overflow: hidden;
  }

  .image img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
</style>
